<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Stylesheets uses bootstrap styling, and links my own stylesheet -->
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Sets title -->
    <title>Flask Todo App</title>
</head>
    <body>
        <!-- Main Todo container -->
        <div class="container">
            <!-- Title -->
            <h3>Todo List</h3>
            <hr>

            <!-- Form linked to add route -->
            <form action="/add" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter Todo..."><br>
                    <button type="submit" class="btn btn-danger">Add</button>
                </div>
            </form>

            <!-- checks if we need to run confetti script -->
            {% if confettiUpdate == True %}
                <body onload="runConfetti()"></body>
            {% endif %}

            <!-- Checks if todo list are empty -->
            {% if todo_list == [] %}
                <div class="alert alert-warning" role="alert">
                    <!-- Return an alert for empty todo list -->
                    No Todo available
                </div>
            {% else %}
            <!-- Else, render todo table -->
                <table class="table">
                    <!-- Todo table element keys -->
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Status</th>
                            <th scope="col">Update</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>

                    <!-- Main todo table body -->
                    <tbody>
                    <!-- iterates through todo-list -->
                    {% for todo in todo_list %}
                        <tr>
                            <th scope="row">{{ todo.id }}</th>
                            <td>{{ todo.title }}</td>
                            <!-- Check todo's completed status -->
                            {% if todo.complete == False %}
                                <td><span class="badge badge-danger">Not Complete</span></td>
                            {% else %}
                                <td><span class="badge badge-success">Completed</span></td>
                            {% endif %}
                            <td><a href="/complete/{{ todo.id }}" class="btn btn-info">Update</a></td>
                            <td><a href="/delete/{{ todo.id }}" class="btn btn-danger">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <footer></footer>

        <!-- Javascript file for confetti from https://dev.to/official_fire/creating-a-confetti-effect-in-5-minutes-16h3 -->
        <script src="static/confetti.js"></script>

        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!-- Using confetti script -->
        <script>
            // Start and stop confetti screen animations
            const start = () => {
                setTimeout(function() {
                    confetti.start()
                }, 0); 
            };

            const stop = () => {
                setTimeout(function() {
                    confetti.stop()
                }, 1000); 
            };

            // Runs confetti (timing out after 1 second)
            const runConfetti = () => {
                start();
                stop();
            }

        </script>
    </body>
</html>